services:
  clonis:
    image: yurianko/clonis:latest
    container_name: clonis
    restart: unless-stopped
    ports:
      - "8080:8080"
    volumes:
      # Persist app data (DB, logs, tokens)
      - ./clonis_data:/config
      # MOUNT HOST FILESYSTEM (Read-Only)
      - /:/hostfs:ro
    environment:
      - APP_ENV=production
      - PORT=8080
      - GOOGLE_CLIENT_ID=YOUR_CLIENT_ID
      - GOOGLE_CLIENT_SECRET=YOUR_CLIENT_SECRET
      - APP_URL=http://localhost:8080
      - SERVER_NAME=YOUR_SERVER_NAME
      - CLONIS_PASSWORD=YOUR_PASSWORD