services:
  clonis:
    image: yurianko/clonis:latest
    container_name: clonis
    restart: unless-stopped
    ports:
      - "3130:8080"
    volumes:
      # Persist app data (DB, logs, tokens)
      - ./clonis_data:/config
      # MOUNT HOST FILESYSTEM (Read-Only)
      # We mount the host's root to /hostfs inside the container
      - /:/hostfs:ro
    environment:
      - APP_ENV=production
      - PORT=8080
      - GOOGLE_CLIENT_ID=350460968318-8d87hbl1h1l2r4asihq8h4kv7snmu0f2.apps.googleusercontent.com
      - GOOGLE_CLIENT_SECRET=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
      - APP_URL=http://localhost:3130
      - SERVER_NAME=test